<section class="wrapper" id="contact">
  <section class="main-wrapper d-flex">
    <div class="d-flex">
      <div class="header-container">
        <h3>Contact me</h3>
        <h2>Ready to work together?</h2>
      </div>
      <div class="d-flex">
        <svg class="circle" viewBox="0 0 100 100" width="168" height="168">
          <defs>
            <path id="circlePath" d="M 50, 50 m -40, 0 a 40,40 0 1,1 80,0 a 40,40 0 1,1 -80,0" />
          </defs>
          <text>
            <textPath href="#circlePath">
              Felix Winkler • Frontend Developer • Felix Winkler • Frontend Developer • Felix
              Winkler • Frontend Developer •
            </textPath>
          </text>
        </svg>
        <img class="sticker" src="/assets/img/sticker-footer.png" alt="sticker img" />
        <img class="logo" src="/assets/icons/logo.png" alt="logo" />
      </div>
    </div>
    <div class="text-form-container d-flex">
      <div class="sub-text-container">
        <p>
          I am excited to dive into the professional tech market. During my rigorous journey, I
          gained deep, practical experience building applications with HTML, CSS/SASS, JavaScript,
          TypeScript, and Angular. I am confident in my abilities to make a meaningful contribution
          to a development team by combining my foundational expertise with an absolute enthusiasm
          for continuous learning and skill improvement. I am highly motivated to bring fresh value,
          clean code, and a strong collaborative spirit to a new project.
        </p>
        <div class="right d-flex">
          <img class="line" src="/assets/icons/contact_line.png" alt="" />
        </div>
      </div>
      <div class="form">
        <form>
          <label for="name">What's your name?</label><br />
          <input type="text" id="fname" name="fname" placeholder="Your name goes here" /><br />
          <label for="email">What's your email?</label><br />
          <input type="text" id="email" name="email" placeholder="yourmail@email.com" /><br />
          <label for="message">How can i help you?</label><br />
          <input
            type="text"
            id="message"
            name="message"
            placeholder="Hello Felix, I am interested in ..."
          />
          <br />
          <input type="checkbox" id="policy-check" name="policy" value="false" />
          <label class="policy-txt" for="policy">
            I've read the
            <a class="policy-link" href="#" (click)="openPolicy($event)">privacy policy</a> and
            agree the processing of my data as outlined.</label
          >
        </form>
      </div>
    </div>
  </section>
  <footer class="footer d-flex">
    <div class="column d-flex legal">
      <a href="#hero"><img class="logo-footer" src="/assets/icons/logo.png" alt="logo image" /></a>
      <p>&copy; Felix Winkler 2026</p>
      <a href="#" (click)="openDialog($event)">Legal Notice</a>
    </div>
    <div class="space-around d-flex">
      <a href="https://github.com/FelixWinklerDev">GitHub</a>
      <a href="https://www.linkedin.com/in/felix-winkler-38947a365/">LinkedIn</a>
      <a href="mailto:Felix-Winkler96@web.de">Email</a>
    </div>
  </footer>
</section>
<dialog #legalDialog>
  <app-legal (close)="closeDialog()"></app-legal>
</dialog>
