.hero {
  height: 100vh;
  width: 100%;
  background-image: url(assets/img/header_bg.png);
  background-size: cover;
  background-position: bottom;
}

.logo {
  height: 80px;
  width: 80px;
  &:hover {
    filter: brightness(0) saturate(100%) invert(86%) sepia(17%) saturate(2986%) hue-rotate(357deg)
      brightness(103%) contrast(105%);
  }
}

.main-sections {
  font-family: 'BricolageGrotesque-Bold';
  font-size: 4rem;
  margin-block-start: 0.8rem;
  margin-block-end: 0.8rem;
}

.icons {
  height: 32px;
  width: 32px;
  border: solid 1px var(--main_white);
  border-radius: 16px;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.space-around {
  width: 100%;
  justify-content: space-between;
}

.right {
  width: 100%;
  justify-content: right;
}

.black-txt {
  color: var(--main_black);
}

.center {
  padding: 80px 80px;
}

.color-change-if-active {
  background-color: var(--transparence);
  color: var(--main_white);
}

.color-change-if-active.active-language {
  color: var(--highlight_orange);
}

.slider-container {
  width: 40px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--main_white);
  position: relative;
  display: flex;
  align-items: center;
}

.slider-pill {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--highlight_blue);
  transform: translateX(-2px); 
  transition: transform 0.3s ease;
}

.slider-container.is-de .slider-pill {
  transform: translateX(30px); 
}

.slider-position {
  align-items: center;
  gap: 5px;
  margin-right: 20px;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 50px;
}

.nav-link {
  position: relative;
  padding: 15px 30px;
  z-index: 1;
  &:hover {
    background-size: cover;
    background-position: center;
    transform-origin: top;
    transition: transform 3s ease-in;
  }
}

.footer {
  justify-content: space-evenly;
  align-items: end;
  padding: 0 20px 20px 20px;
}

.legal {
  width: 200px;
  padding-left: 20px;
}

.about-me,
.skills,
.projects,
.contact-me {
  position: relative;
}

.about-me::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(assets/icons/aboutme_header_animation.png);
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: translateX(0%);
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
  pointer-events: none;
  z-index: -1;
}

.skills::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(assets/icons/skill_header_animation.png);
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: translateX(0%);
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
  pointer-events: none;
  z-index: -1;
}

.projects::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(assets/icons/project_header_animation.png);
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: translateX(0%);
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
  pointer-events: none;
  z-index: -1;
}

.contact-me::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(assets/icons/contact_header_animation.png);
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: translateX(0%);
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
  pointer-events: none;
  z-index: -1;
}

.about-me:hover::before,
.skills:hover::before,
.projects:hover::before,
.contact-me:hover:before {
  opacity: 1;
}

.imprint-link {
  color: var(--highlight_blue);
  &:hover {
    text-decoration: underline;
  }
}

.important-words {
  color: var(--highlight_blue);
}

.burger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  &:hover {
    opacity: 0.8;
  }
  img {
    height: 40px;
    width: 40px;
  }
}

.close-legal {
  position: relative;
  border: solid 1px var(--main_white);
  border-radius: 100px;
  overflow: hidden;
  padding: 12px 24px;
  background-color: var(--transparence);
  color: var(--main_white);
  z-index: 1;
  box-shadow: 3px 3px 1px var(--main_white);
  &:hover {
    background-color: var(--highlight_orange);
    box-shadow: none;
    transform: scale(0.9);
    transition: all ease-in 300ms;
  }
}

.close-legal-down {
  position: relative;
  border: solid 1px var(--main_black);
  border-radius: 100px;
  overflow: hidden;
  padding: 12px 24px;
  background-color: var(--transparence);
  color: var(--main_black);
  z-index: 1;
  box-shadow: 3px 3px 1px var(--main_black);
  &:hover {
    background-color: var(--highlight_orange);
    box-shadow: none;
    transform: scale(0.9);
    transition: all ease-in 300ms;
  }
}

@media (max-width: 769px) {
  .nav-link,
  .slider-position,
  .socialmedia {
    display: none;
  }

  .center {
    padding: 80px;
  }

  .burger-menu {
    display: flex;
  }

  .footer {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .center {
    padding: 80px 20px;
  }
}
