<header class="hero">
    <nav class="navbar d-flex">
        <img class="logo" src="/assets/icons/logo+fav.png" alt="logo">
        <a href="">About Me</a>
        <a href="">Skills</a>
        <a href="">Projects</a>
        <a href="">Contact</a>
        <div class="d-flex slider-position">
            <p class="color-change-if-active">EN</p>
            <input type="range" min="1" max="2" value="1" class="slider" id="myRange">
            <p class="color-change-if-active">DE</p>
        </div>
    </nav>
    <section class="header-wrapper">
        <div class="d-flex centered">
            <div class="header-position d-flex">
                <button class="dark-bg-btn">Hello World</button>
                <h1>Frontend</h1>
            </div>
            <div>
            <img class="polaroid" src="/assets/img/polaroid_border.png" alt="Polaroidborder">
            <p class="polaroid-txt">Felix :)</p>
            </div>
        </div>
        <div class="right-bound d-flex">
            <h1>DEVELOPER</h1>
        </div>
        <div class="right-bound d-flex">
            <button class="dark-bg-btn in-touch">Get in Touch</button>
        </div>
    </section>
    <div class="socialmedia d-flex">
        <a href="https://www.linkedin.com/in/felix-winkler-38947a365/" target="_blank">LinkedIn</a>
        <a href="https://github.com/FelixWinklerDev" target="_blank">gitHub</a>
        <a href="@mailto" target="_blank">Mail</a>
    </div>
</header>