.hero {
  height: 110vh;
  width: 100%;
  background-image: url(/assets/img/header_bg.png);
  background-size: cover;
  background-position: bottom;
}

.logo {
  height: 80px;
  width: 80px;
  &:hover {
    filter: brightness(0) saturate(100%) invert(86%) sepia(17%) saturate(2986%) hue-rotate(357deg)
      brightness(103%) contrast(105%);
  }
}

.icons {
  height: 32px;
  width: 32px;
  border: solid 1px var(--main_white);
  border-radius: 16px;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.centered {
  align-items: center;
  justify-content: center;
  gap: 50px;
  transform: translateY(30px);
}

.right-bound {
  justify-content: right;
  margin-right: 200px;
  margin-top: -40px;
}

.color-change-if-active {
  color: orange;
}

.slider {
  width: 40px;
  height: 20px;
}

.slider-position {
  align-items: center;
  gap: 5px;
  margin-right: 20px;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 50px;
}

.header-position {
  flex-direction: column;
}

.interactive-letter {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: color 160ms ease, top 160ms ease;
  cursor: default;
}

.interactive-letter.hovered {
  color: var(--highlight_yellow);
  top: -2px;
}

.nav-link {
  position: relative;
  padding: 15px 30px;
  z-index: 1;
  &:hover {
    background-size: cover;
    background-position: center;
    transform-origin: top;
    transition: transform 3s ease-in;
  }
}

.about-me:hover {
  background-image: url(/assets/icons/aboutme_header_animation.png);
}

.skills:hover {
  background-image: url(/assets/icons/skill_header_animation.png);
}

.projects:hover {
  background-image: url(/assets/icons/projekt_header_animation.png);
}

.contact-me:hover {
  background-image: url(/assets/icons/contact_header_animation.png);
}

.polaroid {
  height: 220px;
  width: 200px;
  rotate: 8deg;
}

.felix {
  filter: grayscale(1);
  height: 160px;
  width: 170px;
  rotate: 8deg;
  transform: translate(-187px, -25px);
  &:hover {
    filter: grayscale(0);
  }
}

.waving-btn {
  position: relative;
  border: solid 1px var(--main_white);
  border-radius: 100px;
  overflow: hidden;
  padding: 12px 24px;
  background-color: rgba(#000000, 0);
  color: var(--main_white);
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--highlight_blue);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.8s ease-in-out;
  }
  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}

.dark-bg-btn {
  margin-top: 40px;
  position: relative;
  border: solid 1px var(--main_white);
  border-radius: 100px;
  overflow: hidden;
  padding: 12px 24px;
  background-color: rgba(#000000, 0);
  color: var(--main_white);
  z-index: 1;
}

.on-touch {
  box-shadow: 3px 3px 1px var(--main_white);
  &:hover {
    background-color: var(--highlight_orange);
    box-shadow: none;
    transform: scale(0.9);
    transition: all ease-in 300ms;
  }
}

.roll-in {
  animation: roll-in 2s ease infinite;
}
@keyframes roll-in {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}

.socialmedia {
  flex-direction: column;
  justify-content: center;
  margin-left: 45px;
  gap: 10px;
  transform: translate(-2px, -75px);
  width: 35px;
}

.social-media-link {
  width: 35px;
  overflow: hidden;
}

.polaroid-txt {
  color: var(--main_black);
  font-family: 'Kalam-Regular';
  font-size: 2.4rem;
  rotate: 8deg;
  transform: translateY(-55px);
  padding-left: 40px;
}

.burger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  &:hover {
    opacity: 0.8;
  }
  img {
    height: 40px;
    width: 40px;
  }
}

.mobile-nav {
  display: none;
}

// Media Query: ab max-width 1000px

@media (max-width: 1000px) {
  .nav-link,
  .slider-position,
  .socialmedia {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}