.hero {
  height: 105vh;
  width: 100%;
  background-image: url(/assets/img/header_bg.png);
  background-size: cover;
  background-position: bottom;
}

.logo {
  height: 80px;
  width: 80px;
}

.icons {
  height: 32px;
  width: 32px;
  border: solid 1px var(--border);
  border-radius: 16px;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.centered {
  align-items: center;
  justify-content: center;
  gap: 50px;
  transform: translateY(30px);
}

.right-bound {
  justify-content: right;
  margin-right: 200px;
  transform: translateY(-30px);
}

.color-change-if-active {
  color: orange;
}

.slider {
  width: 40px;
  height: 20px;
}

.slider-position {
  align-items: center;
  gap: 5px;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 50px;
}

.header-position {
  flex-direction: column;
}

.polaroid {
  height: 220px;
  width: 200px;
  rotate: 8deg;
}

.felix {
  filter: grayscale(1);
  height: 160px;
  width: 170px;
  rotate: 8deg;
  transform: translate(-187px, -25px);
  &:hover {
    filter: grayscale(0);
  }
}

.dark-bg-btn {
  border: solid 1px var(--border);
  border-radius: 100px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background-color: rgba($color: #000000, $alpha: 0);
  color: var(--textcolor_white);
  &:hover {
    background-color: var(--slider);
    box-shadow: none;
    transform: scale(0.9);
    transition: all ease-in 300ms;
  }
}

.socialmedia {
  flex-direction: column;
  justify-content: center;
  margin-left: 45px;
  gap: 5px;
  transform: translate(-2px, -75px);
}

.social-media-link {
  width: 32px;
}

.in-touch {
  box-shadow: 3px 3px 1px var(--border);
}

.polaroid-txt {
  color: var(--textcolor_black);
  font-family: 'Kalam-Regular';
  font-size: 2.4rem;
  rotate: 8deg;
  transform: translateY(-55px);
  margin-left: 37px;
}
