<header class="hero" id="hero">
  <nav class="navbar d-flex">
    <a routerLink="/"><img class="logo" src="assets/icons/logo.png" alt="logo" /></a>
    <a class="about-me nav-link" href="#about">{{
      translationService.translate('header.nav.aboutMe')
    }}</a>
    <a class="skills nav-link" href="#skillset">{{
      translationService.translate('header.nav.skills')
    }}</a>
    <a class="projects nav-link" href="#projects">{{
      translationService.translate('header.nav.projects')
    }}</a>
    <a class="contact-me nav-link" href="#contact">{{
      translationService.translate('header.nav.contact')
    }}</a>
    <div class="d-flex slider-position">
      <button
        type="button"
        class="color-change-if-active"
        [class.active-language]="isActiveLanguage('en')"
        (click)="translationService.setLanguage('en')"
      >
        EN
      </button>
      <div class="slider-container" [class.is-de]="isActiveLanguage('de')">
        <span class="slider-pill"></span>
      </div>
      <button
        type="button"
        class="color-change-if-active"
        [class.active-language]="isActiveLanguage('de')"
        (click)="translationService.setLanguage('de')"
      >
        DE
      </button>
    </div>
    <div>
      <button class="burger-menu" (click)="openMobileMenu($event)">
        <img src="assets/icons/c_burgermenu.png" alt="burgermenu" />
      </button>
    </div>
  </nav>
  <!-- Mobile Navigation Menu -->
  <dialog #mobileNav>
    <app-mobile-nav (close)="closeMobileMenu()"></app-mobile-nav>
  </dialog>
  <!-- Mobile Navigation Menu -->
  <section class="header-wrapper">
    <div class="d-flex upper-line">
      <div class="header-position d-flex">
        <app-blue-btn></app-blue-btn>
        <h1>
          <span
            *ngFor="let letter of headerTitle1"
            class="interactive-letter"
            [class.hovered]="letter.hovered"
            (mouseenter)="setLetterHover(letter, true)"
            (mouseleave)="setLetterHover(letter, false)"
            >{{ getLetterDisplay(letter) }}</span
          >
        </h1>
      </div>
      <div class="polaroid-wrapper">
        <img class="polaroid" src="assets/img/polaroid_border.png" alt="polaroid" />
        <img class="felix" src="assets/img/felix.jpg" alt="image of contender" />
        <p class="polaroid-txt">Felix :)</p>
      </div>
    </div>
    <div class="down-line d-flex">
      <h1>
        <span
          *ngFor="let letter of headerTitle2"
          class="interactive-letter"
          [class.hovered]="letter.hovered"
          (mouseenter)="setLetterHover(letter, true)"
          (mouseleave)="setLetterHover(letter, false)"
          >{{ getLetterDisplay(letter) }}</span
        >
      </h1>
    </div>
    <div class="right d-flex">
      <a href="#contact" class="dark-bg-btn on-touch">{{
        translationService.translate('header.getInTouch')
      }}</a>
    </div>
    <div class="socialmedia d-flex">
      <a
        class="social-media-link"
        href="https://www.linkedin.com/in/felix-winkler-38947a365/"
        target="_blank"
        ><img class="icons" src="assets/icons/linkedin-icon.png" alt="linkedin icon"
      /></a>
      <a class="social-media-link" href="https://github.com/FelixWinklerDev" target="_blank"
        ><img class="icons" src="assets/icons/github-icon.png" alt="gitHub icon"
      /></a>
      <a class="social-media-link" href="mailto:Felix-Winkler96@web.de" target="_blank"
        ><img class="icons" src="assets/icons/mail-icon.png" alt="mail icon"
      /></a>
    </div>
  </section>
</header>
