.skill-wrapper {
  background-image: url(assets/img/skills_bg.png);
  background-size: cover;
  background-position: top;
  height: 800px;
  padding-top: 144px;
  padding-bottom: 144px;
  padding-left: 120px;
  padding-right: 120px;
}

.content {
  justify-content: center;
  align-items: center;
  padding-bottom: 48px;
  gap: 48px;
}

.skill {
  gap: 48px;
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-wrapper {
  gap: 35px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 700px;
}

.d-flex {
  display: flex;
}

.right-bound {
  justify-content: right;
}

.header-wrapper {
  flex-direction: column;
  gap: 8px;
  height: 65px;
}

.underline {
  height: 90px;
  width: 290px;
  transform: translate(20px, -100px);
  clip-path: inset(0 100% 50% 0);
  animation-name: draw;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

.paper-size {
  height: 140px;
  width: 640px;
  transform: translateY(50px);
}

.paper-txt {
  font-size: 1.8rem;
  color: var(--main_black);
  transform: translateY(-60px);
  padding-left: 20px;
  padding-right: 20px;
}

.paper-wrapper {
  height: 140px;
  width: auto;
  min-width: 320px;
  max-width: 600px;
  padding-bottom: 50px;
}

.icon {
  height: 72px;
  width: 72px;
  filter: grayscale(1);
  &:hover {
    transition: all ease-in-out 100ms;
    filter: grayscale(0);
    transform: scale(0.8);
  }
}

.arrow {
  height: 40px;
  width: 50px;
}

.filler {
  height: 100%;
  width: 200px;
}

.post-it-wrapper {
  rotate: 8deg;
  z-index: 100;
  width: 200px;
  height: 200px;
  justify-content: start;
}

.on-post-it {
  z-index: 101;
  transform: translate(-185px, 25px);
}

.surprise {
  height: 190px;
  width: 190px;
  background-image: linear-gradient(180deg, #fcc92c, orangered, #fcc92c);
  border-radius: 15px;
  transform: translate(-400px);
}

.peel-txt {
  font-size: 3rem;
  font-family: 'Kalam-Regular';
  width: 180px;
}

@keyframes draw {
  from {
    clip-path: inset(100% 0 50% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@media (max-width: 1250px) {
  .content {
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
  }

  .skill-wrapper {
    height: 800px;
    padding: 80px 80px;
  }

  .header-wrapper {
    justify-content: right;
    width: 100%;
    margin-bottom: 20px;
  }

  .underline {
    transform: translateY(-50px) scaleX(1.2);
  }
}

@media (max-width: 970px) {
  .skill {
    flex-direction: column;
    gap: 0;
  }

  .icon {
    height: 50px;
    width: 50px;
  }

  .icon-wrapper {
    gap: 50px;
    width: 640px;
    flex: 1;
  }

  .paper-size {
    width: 500px;
    height: 140px;
    padding-bottom: 0;
  }

  .paper-txt {
    font-size: 1.6rem;
    transform: translateY(-60px);
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 650px) {
  .icon-wrapper {
    gap: 20px;
    width: 420px;
    flex: 1;
  }
}

@media (max-width: 520px) {
  .paper-size {
    height: 160px;
    width: 400px;
    transform: translateY(0px);
  }

  .paper-txt {
    transform: translateY(-135px);
  }
}

@media (max-width: 440px) {
  .icon-wrapper {
    gap: 5px;
    width: 320px;
    flex: 1;
  }

  .skill-wrapper {
    height: 1000px;
    padding: 80px 20px;
  }
}

@media (max-width: 416px) {
  .paper-size {
    width: auto;
    max-width: 360px;
  }

  .paper-txt {
    font-size: 1.4rem;
    transform: translateY(-120px);
    padding-left: 5px;
    padding-right: 5px;
  }

  .post-it {
    height: 180px;
    width: 180px;
  }

  .peel-txt {
    width: 180px;
  }

  .on-post-it {
    transform: translate(-170px, -10px);
    rotate: -3deg;
  }
}

@media (max-width: 376px) {
  .paper-size {
    width: 320px;
  }

  .paper-txt {
    transform: translateY(-130px);
  }

  .icon-wrapper {
    width: 320px;
  }

  .post-it {
    height: 200px;
    width: 200px;
  }
}
