<section class="skill-wrapper" id="skillset">
  <div class="d-flex content">
    <div class="header-wrapper d-flex">
      <h3 class="right-bound d-flex">my Stack</h3>
      <h2 class="right-bound d-flex">Skillset</h2>
    </div>
    <div class="paper-wrapper">
      <img class="paper-size" src="assets/img/skillset-paper.png" alt="white paper" />
      <p class="paper-txt d-flex">
        I'm using modern frontend technologies and I'm always open <br />
        to learn new technologies and improving my skills.
      </p>
    </div>
    <div class="d-flex filler"></div>
  </div>
  <div class="skill d-flex">
    <div class="d-flex filler"></div>
    <div class="icon-wrapper d-flex">
      <div class="d-flex center">
        <img class="icon" src="/assets/icons/icon-html.png" alt="html icon" />
        <p>HTML</p>
      </div>
      <div class="d-flex center">
        <img class="icon" src="/assets/icons/icon-css.png" alt="css icon" />
        <p>CSS</p>
      </div>
      <div class="d-flex center">
        <img class="icon" src="/assets/icons/icon-js.png" alt="js icon" />
        <p>JavaScript</p>
      </div>
      <div class="d-flex center">
        <img class="icon" src="/assets/icons/icon-ts.png" alt="ts icon" />
        <p>TypeScript</p>
      </div>
      <div class="d-flex center">
        <img class="icon" src="/assets/icons/icon-angular.png" alt="angular icon" />
        <p>Angular</p>
      </div>
      <div class="d-flex center">
        <img class="icon" src="/assets/icons/icon-supabase.png" alt="supabase icon" />
        <p>Supabase</p>
      </div>
      <div class="d-flex center">
        <img class="icon" src="/assets/icons/icon-git.png" alt="git icon" />
        <p>Git</p>
      </div>
      <div class="d-flex center">
        <img class="icon" src="/assets/icons/icon-REST-API.png" alt="REST-API icon" />
        <p>REST-API</p>
      </div>
      <div class="d-flex center">
        <img class="icon" src="/assets/icons/icon-scrum.png" alt="scrum icon" />
        <p>Scrum</p>
      </div>
      <div class="d-flex center">
        <img class="icon" src="/assets/icons/icon-material-design.png" alt="material design icon" />
        <p>Material<br />Design</p>
      </div>
    </div>
    <aside class="post-it-wrapper d-flex">
      <img class="post-it" src="/assets/img/post-it.png" alt="post it icon" />
      <div class="on-post-it center d-flex">
        <img class="arrow" src="/assets/icons/postit_peel.png" alt="arrow icon" />
        <p class="peel-txt">Pull to Peel</p>
      </div>
    </aside>
  </div>
</section>
