.column {
  display: flex;
  flex-direction: column;
}

.waving-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: 1px solid var(--main_white);
  border-radius: 100px;
  padding: 12px 20px;
  background: none;
  color: var(--main_white);
  overflow: visible;
  z-index: 1;
  white-space: nowrap;
  max-width: 130px;
  transition:
    max-width 0.45s cubic-bezier(0.2, 0.8, 0.2, 1),
    padding 0.25s ease-out,
    background-color 0.45s ease-out;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--highlight_blue);
    z-index: -1;
    border-radius: 100px;
    clip-path: inset(0 100% 0 0);
    transform-origin: left;
    transition: clip-path 0.45s cubic-bezier(0.2, 0.8, 0.2, 1);
  }

  &:hover {
    max-width: 180px;
    padding: 12px 28px;
    text-decoration: none;
    &::before {
      clip-path: inset(0 0 0 0);
    }
  }
}

.label {
  display: inline-block;
  position: relative;
  text-align: center;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.label-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.waving-btn:hover .label {
  opacity: 0;
}

.waving-btn:hover .label-hover {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.img-hand {
  position: absolute;
  left: 140px;
  top: -50px;
  width: 48px;
  height: auto;
  opacity: 0;
  transform: translateX(-140px) rotate(-280deg);
  transition:
    transform 0.45s cubic-bezier(0.2, 0.8, 0.2, 1),
    opacity 0.45s ease;
  z-index: 2;
  pointer-events: none;
}

.waving-btn:hover .img-hand {
  opacity: 1;
  transform: translateY(0) rotate(0deg);
}
