.waving-btn {
  position: relative;
  border: solid 1px var(--border);
  border-radius: 100px;
  overflow: hidden;
  padding: 12px 24px;
  background-color: rgba(#000000, 0);
  color: var(--textcolor_white);
  z-index: 1;
  cursor: default;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--sliderball);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.8s ease-in-out;
  }
  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}

.icon {
  color: var(--border);
  height: 36px;
  width: 36px;
  animation: roll-in 3s ease-in;
}

.column {
  display: flex;
  flex-direction: column;
}

span {
  display: inline-block;
  position: relative;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  &::after {
    content: attr(data-hover);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    color: var(--textcolor_white);
  }
  &:hover {
    span {
      opacity: 0;
      transform: translateY(-10px);

      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.inline-txt {
  text-decoration: none;
}

@keyframes roll-in {
  0% {
    opacity: 0;
    transform: translateX(0%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(100%) rotate(0deg);
  }
}
