.project-detail-wrapper {
  height: 100vh;
  width: 100%;
  background-image: url(/assets/img/project-detail-hero.png);
  background-size: cover;
  background-color: var(--textcolor_black);
}

.black-txt {
  color: var(--textcolor_black);
}

.d-flex {
  display: flex;
}

.center-btn {
  align-items: center;
  gap: 8px;
  padding-left: 34px;
}

.logo {
  height: 80px;
  width: 80px;
  &:hover {
    filter: brightness(0) saturate(100%) invert(86%) sepia(17%) saturate(2986%) hue-rotate(357deg)
      brightness(103%) contrast(105%);
  }
}

.icons {
  height: 32px;
  width: 32px;
  border: solid 1px var(--border);
  border-radius: 16px;
}

.centered {
  align-items: center;
  justify-content: center;
  gap: 50px;
  transform: translateY(30px);
}

.right {
  justify-content: right;
  gap: 32px;
}

.gap {
  margin: 21px 0;
}

.color-change-if-active {
  color: orange;
}

.slider {
  width: 40px;
  height: 20px;
}

.slider-position {
  align-items: center;
  gap: 5px;
  margin-right: 20px;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 50px;
}

.header-position {
  flex-direction: column;
}

.nav-link {
  position: relative;
  padding: 15px 30px;
  z-index: 1;
  &:hover {
    background-size: cover;
    background-position: center;
    transform-origin: top;
    transition: transform 3s ease-in;
  }
}

.about-me:hover {
  background-image: url(/assets/icons/aboutme_header_animation.png);
}

.skills:hover {
  background-image: url(/assets/icons/skill_header_animation.png);
}

.projects:hover {
  background-image: url(/assets/icons/projekt_header_animation.png);
}

.contact-me:hover {
  background-image: url(/assets/icons/contact_header_animation.png);
}

.back-btn {
  color: var(--textcolor_black);
  background-color: var(--transparence);
  height: 24px;
  &:hover {
    color: var(--slider);
  }
}

.next-btn {
  color: var(--textcolor_white);
  background-color: var(--transparence);
  height: 24px;
  &:hover {
    color: var(--slider);
  }
}

.arrow {
  height: 45px;
  width: 45px;
}

.arrow-right {
  height: 45px;
  width: 45px;
  transform: scaleX(-1);
}

.details-wrapper {
  align-items: center;
  justify-content: space-around;
  padding: 0 40px;
  gap: 70px;
}

.project-name-wrapper {
  width: 100%;
}

.underline {
  width: 280px;
}

.content {
  width: 450px;
}

.sticker {
  height: 120px;
  width: 120px;
  transform: translate(-54px, 54px);
}

.project-preview {
  height: 280px;
  width: 400px;
  border-radius: 15px;
}

.transparent-btn {
  position: relative;
  border: solid 1px var(--border);
  border-radius: 100px;
  overflow: hidden;
  padding: 12px 24px;
  background-color: var(--transparence);
  color: var(--textcolor_white);
  z-index: 1;
  box-shadow: 3px 3px 1px var(--border);
  &:hover {
    background-color: var(--slider);
    box-shadow: none;
    transform: scale(0.9);
    transition: all ease-in 300ms;
  }
}
