<section class="wrapper">
  <div class="header-testimonial d-flex">
    <div class="d-flex">
      <img class="arrow" src="assets/img/testimonials_arrow.png" alt="" />
      <p class="black-txt">IN THEIR WORDS:</p>
    </div>
    <h2 class="black-txt">Colleagues' Thoughts</h2>
  </div>
  <div class="d-flex">
    <div class="container left">
      <p class="black-txt sub-txt">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam a labore iste laudantium
        ipsum deserunt numquam. Atque, provident sint animi aperiam, natus deserunt corrupti
        expedita aspernatur sapiente repellendus qui minima!
      </p>
      <div class="d-flex">
        <div>
          <h3 class="black-txt">Felix Winkler</h3>
          <h3 class="black-txt sub-header">Frontend Developer</h3>
        </div>
        <div class="d-flex space">
          <a class="black-txt" target="_blank" href="">
            <img class="icon" src="/assets/icons/linkedin-icon.png" alt="" />
            Profile
          </a>
        </div>
      </div>
    </div>
    <div class="container mid">
      <p class="black-txt sub-txt">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam a labore iste laudantium
        ipsum deserunt numquam. Atque, provident sint animi aperiam, natus deserunt corrupti
        expedita aspernatur sapiente repellendus qui minima!
      </p>
      <div class="d-flex">
        <div>
          <h3 class="black-txt">Felix Winkler</h3>
          <h3 class="black-txt sub-header">Frontend Developer</h3>
        </div>
        <div class="d-flex space">
          <a class="black-txt" target="_blank" href="">
            <img class="icon" src="/assets/icons/linkedin-icon.png" alt="" />
            Profile
          </a>
        </div>
      </div>
    </div>
    <div class="container right">
      <p class="black-txt sub-txt">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam a labore iste laudantium
        ipsum deserunt numquam. Atque, provident sint animi aperiam, natus deserunt corrupti
        expedita aspernatur sapiente repellendus qui minima!
      </p>
      <div class="d-flex space">
        <div>
          <h3 class="black-txt">Felix Winkler</h3>
          <h3 class="black-txt sub-header">Frontend Developer</h3>
        </div>
        <div class="d-flex">
          <a class="black-txt" target="_blank" href="">
            <img class="icon" src="/assets/icons/linkedin-icon.png" alt="" />
            Profile
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
