.d-flex {
  display: flex;
}

.a-end {
  align-items: end;
  margin-right: 10px;
}

.center {
  align-items: center;
  justify-content: center;
}

.space {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.icon {
  height: 20px;
  width: 20px;
  filter: brightness(0);
}

.no-profile {
  cursor: not-allowed;
  opacity: 0.6;
}

.disabled {
  filter: grayscale(0.9);
}

.black-txt {
  color: var(--main_black);
}

.sub-txt {
  font-family: 'BricolageGrotesque-Regular';
  font-size: 1.8rem;
}

.arrow {
  width: 100px;
  height: 36px;
}

.text-position {
  transform: translateY(-285px) translateX(15px);
}

.overflow-container {
  min-height: 150px;
  max-height: 170px;
  overflow: scroll;
  scrollbar-width: none;
}

.header-testimonial {
  justify-content: center;
  align-items: end;
  flex-direction: column;
  margin-bottom: 48px;
  padding-right: 60px;
}

.wrapper {
  width: 100%;
  padding-top: 144px;
}

.container {
  height: 100%;
  width: 420px;
  border-radius: 15px;
  padding: 50px;
}

.paper {
  height: 310px;
  width: 450px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/img/hover.png);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:hover::after {
    opacity: 1;
  }
}

.left {
  rotate: -6deg;
  z-index: 3;
  transform: translateX(110px);
  &:hover {
    z-index: 5;
  }
}

.mid {
  transform: translateY(-20px);
  z-index: 2;
  &:hover {
    z-index: 5;
  }
}

.right {
  rotate: 6deg;
  z-index: 1;
  transform: translateX(-110px);
  &:hover {
    z-index: 5;
  }
}

@media (max-width: 1400px) {
  .mobile {
    flex-direction: column;
  }

  .container {
    height: 355px;
    padding: 0;
  }

  .left {
    transform: translateX(0px) translateY(50px);
  }

  .right {
    transform: translateX(-18px) translateY(-90px);
  }

  .header-testimonial {
    padding-right: 80px;
  }
}

@media (max-width: 1400px) {
  .header-testimonial {
    padding-right: 30px;
  }
}

@media (max-width: 769px) {
  .paper {
    height: 290px;
    width: 400px;
  }

  .container {
    height: 330px;
    width: 380px;
    padding: 0;
  }

  .header-testimonial {
    padding-right: 50px;
  }
}

@media (max-width: 426px) {
  .paper {
    height: 230px;
    width: 250px;
  }

  .container {
    height: 230px;
    width: 240px;
  }

  .text-position {
    transform: translateY(-220px) translateX(10px);
  }

  .overflow-container {
    min-height: 120px;
    max-height: 130px;
    scrollbar-width: thin;
  }

  .sub-txt {
    margin: 0;
  }
}

@media (max-width: 321px) {
  .paper {
    height: 230px;
    width: 250px;
  }

  .container {
    height: 230px;
    width: 240px;
  }

  .text-position {
    transform: translateY(-240px) translateX(5px);
  }

  .sub-txt {
    max-height: 170px;
  }
}
