/* You can add global styles to this file, and also import other style files */
:root {
  --main_white: #f8f9fa;
  --main_black: #0e1013;
  --highlight_orange: #f87a55;
  --highlight_blue: #3355ff;
  --highlight_yellow: #f6c418;
  --requirement: #e76e4e;
  --disabled: #afafaf;
  --transparence: #00000000;
}

@font-face {
  font-family: 'BricolageGrotesque-Bold';
  src: url(assets/fonts/BricolageGrotesque-Bold.ttf);
}

@font-face {
  font-family: 'BricolageGrotesque-Medium';
  src: url(assets/fonts/BricolageGrotesque-Medium.ttf);
}

@font-face {
  font-family: 'BricolageGrotesque-Regular';
  src: url(assets/fonts/BricolageGrotesque-Regular.ttf);
}

@font-face {
  font-family: 'Kalam-Regular';
  src: url(assets/fonts/Kalam-Regular.ttf);
}

body,
html {
  margin: 0;
  scroll-behavior: smooth;
  font-size: 62.5%;
  width: 100%;
}

a {
  font-family: 'BricolageGrotesque-Medium';
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--main_white);
  cursor: pointer;
  & :hover {
    text-decoration: underline;
  }
}

button {
  font-family: 'BricolageGrotesque-Medium';
  font-size: 1.6rem;
  text-decoration: none;
  border-width: 0;
  cursor: pointer;
  & :hover {
    text-decoration: underline;
  }
}

p {
  font-family: 'BricolageGrotesque-Medium';
  font-size: 1.6rem;
  color: var(--main_white);
}

h1 {
  font-family: 'BricolageGrotesque-Bold';
  font-size: 10.8rem;
  color: var(--main_white);
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-family: 'BricolageGrotesque-Bold';
  font-size: 6.4rem;
  color: var(--main_white);
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-family: 'BricolageGrotesque-Medium';
  font-size: 2rem;
  color: var(--main_white);
  margin-block-start: 0;
  margin-block-end: 0;
}

h4 {
  font-family: 'BricolageGrotesque-Bold';
  font-size: 2.4rem;
  color: var(--highlight_blue);
  margin-block-start: 0;
  margin-block-end: 0;
}

label {
  font-family: 'BricolageGrotesque-Medium';
  font-size: 1.8rem;
  color: var(--main_white);
}

ul {
  font-family: 'BricolageGrotesque-Medium';
  font-size: 1.6rem;
  color: var(--main_black);
}

dialog {
  border-width: 0;
  scrollbar-width: none;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  overscroll-behavior: contain;
  margin: 0;
  padding: 0;
}

dialog#mobileNav {
  background-color: var(--transparence);
}

input {
  color: var(--main_white);
}

// Media Query: Tablet ab 768px

@media (max-width: 769px) {
  h1 {
    font-size: 6.4rem;
  }

  h2 {
    font-size: 3.4rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 2rem;
  }
}

// Media Query: Mobile M ab 375px

@media (max-width: 376px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h4 {
    font-size: 1.8rem;
  }
}
