/* You can add global styles to this file, and also import other style files */
:root {
  --slider: #f87a55;
  --sliderball: #3355ff;
  --border: #f8f9fa;
  --border-black: #0e1013;
  --textcolor_white: #f8f9fa;
  --textcolor_black: #0e1013;
  --hover_logo: #f6c418;
  --transparence: #00000000;
}

@font-face {
  font-family: 'BricolageGrotesque-Bold';
  src: url(/assets/fonts/BricolageGrotesque-Bold.ttf);
}

@font-face {
  font-family: 'BricolageGrotesque-Medium';
  src: url(/assets/fonts/BricolageGrotesque-Medium.ttf);
}

@font-face {
  font-family: 'BricolageGrotesque-Regular';
  src: url(/assets/fonts/BricolageGrotesque-Regular.ttf);
}

@font-face {
  font-family: 'Kalam-Regular';
  src: url(/assets/fonts/Kalam-Regular.ttf);
}

body,
html {
  margin: 0;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a {
  font-family: 'BricolageGrotesque-Medium';
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--textcolor_white);
  cursor: pointer;
  & :hover {
    text-decoration: underline;
  }
}

button {
  font-family: 'BricolageGrotesque-Medium';
  font-size: 1.6rem;
  text-decoration: none;
  border-width: 0;
  cursor: pointer;
  & :hover {
    text-decoration: underline;
  }
}

p {
  font-family: 'BricolageGrotesque-Medium';
  font-size: 1.6rem;
  color: var(--textcolor_white);
}

h1 {
  font-family: 'BricolageGrotesque-Bold';
  font-size: 10.8rem;
  color: var(--textcolor_white);
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-family: 'BricolageGrotesque-Bold';
  font-size: 6.4rem;
  color: var(--textcolor_white);
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-family: 'BricolageGrotesque-Medium';
  font-size: 2rem;
  color: var(--textcolor_white);
  margin-block-start: 0;
  margin-block-end: 0;
}

h4 {
  font-family: 'BricolageGrotesque-Bold';
  font-size: 2.4rem;
  color: var(--sliderball);
  margin-block-start: 0;
  margin-block-end: 0;
}

label {
  font-family: 'BricolageGrotesque-Medium';
  font-size: 1.8rem;
  color: var(--textcolor_white);
}

ul {
  font-family: 'BricolageGrotesque-Medium';
  font-size: 1.6rem;
  color: var(--textcolor_black);
}

dialog {
  border-width: 0;
  scrollbar-width: none;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  overscroll-behavior: contain;
}
