.about-wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 144px 0;
  gap: 180px;
}

.right-bound {
  justify-content: right;
}

.d-flex {
  display: flex;
}

.paper-positioning {
  flex-direction: column;
}

.paper-size {
  height: 152px;
  width: 560px;
}

.icons {
  margin-top: 50px;
  height: 40px;
  width: 40px;
  transform: translateX(180px);
}

.yellow {
  rotate: -8deg;
  transform: translateY(50px);
  z-index: 110;
  flex-direction: row-reverse;
  width: 600px;
  & .yellow-txt {
    transform: translateX(450px);
    margin-top: 35px;
    font-size: 2.4rem;
    width: 200px;
  }
}

.blue {
  z-index: 109;
  width: 700px;
  flex-direction: row-reverse;
  & .blue-txt {
    transform: translateX(450px);
    margin-top: 50px;
    font-size: 2.4rem;
    width: 200px;
  }
}

.orange {
  rotate: 8deg;
  width: 800px;
  transform: translateY(-30px);
  flex-direction: row-reverse;
  & .orange-txt {
    transform: translateX(450px);
    margin-top: 45px;
    font-size: 2.4rem;
    width: 400px;
  }
}

.black-txt {
  color: var(--main_black);
}

.text-position {
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-150px);
}

.about-gap {
  margin-top: 48px;
}

.light-bg-btn {
  border: solid 1px var(--main_black);
  border-radius: 100px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background-color: rgba($color: #000000, $alpha: 0);
  color: var(--main_black);
  &:hover {
    background-color: var(--highlight_orange);
    box-shadow: none;
    transform: scale(0.9);
    transition: all ease-in 300ms;
  }
}

.about-animation {
  width: 320px;
  clip-path: inset(0 100% 0 0);
  animation-name: draw;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

.talk {
  box-shadow: 3px 3px 1px var(--main_black);
}

@keyframes draw {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@media (max-width: 1000px) {
  .paper-size {
    height: 120px;
    width: 360px;
  }

  .about-wrapper {
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px 0;
    gap: 12px;
  }

  .text-position {
    padding-left: 280px;
  }

  .about-gap {
    margin-top: 10px;
  }

  .icons {
    margin-top: 45px;
    height: 30px;
    width: 30px;
    transform: translateX(100px);
  }

  .paper-positioning {
    align-items: center;
    justify-content: center;
    transform: translateX(-200px);
  }

  .orange {
    transform: translateY(-50px);
    & .orange-txt {
      transform: translateX(320px);
      margin-top: 45px;
      font-size: 1.6rem;
      width: 170px;
    }

    .about-animation {
      width: 210px;
    }
  }

  .yellow {
    transform: translateY(60px);
    & .yellow-txt {
      transform: translateX(320px);
      margin-top: 30px;
      font-size: 1.6rem;
      width: 170px;
    }
  }

  .blue {
    transform: translateY(0px);
    & .blue-txt {
      transform: translateX(320px);
      margin-top: 55px;
      font-size: 1.6rem;
      width: 170px;
    }
  }
}

@media (max-width: 560px) {
  .paper-positioning {
    width: 380px;
    transform: translateX(-30px);
  }

  .text-position {
    transform: translateX(-130px);
  }

  .blue,
  .yellow,
  .orange {
    width: 380px;
  }

  .blue .blue-txt {
    margin-top: 45px;
    transform: translateX(280px);
  }

  .orange .orange-txt {
    width: 180px;
    transform: translateX(290px);
  }

  .icons {
    transform: translateX(120px);
  }

  .about-animation {
    width: 250px;
  }
}

@media (max-width: 426px) {
  .about-gap {
    width: 300px;
  }

  .paper-size {
    transform: translateX(10px);
    width: 300px;
  }

  .blue,
  .yellow,
  .orange {
    width: 320px;
  }

  .about-animation {
    width: 160px;
  }
}

@media (max-width: 321px) {
  .about-gap {
    width: 280px;
  }

  .about-animation {
    width: 150px;
  }
}
