<section class="about-wrapper d-flex">
  <div class="paper-positioning d-flex">
    <div class="yellow d-flex">
      <img class="paper-size" src="assets/img/yellow_paper.png" alt="yellow paper" />
      <p class="yellow-txt d-flex">Based in Gräfenhainichen</p>
    </div>
    <div class="blue d-flex">
      <img class="paper-size" src="assets/img/blue_paper.png" alt="blue paper" />
      <p class="blue-txt d-flex">location-bound</p>
    </div>
    <div class="orange d-flex">
      <img class="paper-size" src="assets/img/orange_paper.png" alt="orange paper" />
      <p class="orange-txt d-flex">open to work remote or hybrid</p>
    </div>
  </div>
  <div class="text-position d-flex">
    <h3 class="black-txt">Who's Felix?</h3>
    <h2 class="black-txt">About me</h2>
    <div class="about-gap">
      <p class="black-txt">
        Hey, I'm Felix, a 29 years old family father straight from Saxony-Anhalt, Germany. I love
        creating bugs, playful UI / UX design and creative web projects. Right now I'm diving deep
        into frontend developement with Angular, TypeScript & SCSS while trying to improve my skills
        every day. I have already been able to gain some project experiences: Independently and in a
        group.
      </p>
    </div>
  </div>
</section>
