.about-wrapper {
  justify-content: space-between;
  align-items: center;
  padding-top: 144px;
  padding-bottom: 144px;
  padding-right: 20px;
  padding-left: 20px;
  gap: 42px;
}

.right-bound {
  justify-content: right;
}

.d-flex {
  display: flex;
}

.paper-positioning {
  flex-direction: column;
}

.paper-size {
  height: 152px;
  width: 560px;
}

.icons {
  margin-top: 50px;
  height: 40px;
  width: 40px;
  transform: translateX(180px);
}

.yellow {
  rotate: -8deg;
  transform: translate(-152px, 50px);
  z-index: 110;
  flex-direction: row-reverse;
  & .yellow-txt {
    transform: translateX(450px);
    margin-top: 35px;
    font-size: 2.4rem;
    width: 200px;
  }
}

.blue {
  transform: translate(-152px);
  z-index: 109;
  flex-direction: row-reverse;
  & .blue-txt {
    transform: translateX(450px);
    margin-top: 60px;
    font-size: 2.4rem;
    width: 200px;
  }
}

.orange {
  rotate: 8deg;
  transform: translate(-152px, -30px);
  flex-direction: row-reverse;
  & .orange-txt {
    transform: translateX(450px);
    margin-top: 45px;
    font-size: 2.4rem;
    width: 200px;
  }
}

.black-txt {
  color: var(--main_black);
}

.text-position {
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-150px);
}

.about-gap {
  margin-top: 48px;
}

.light-bg-btn {
  border: solid 1px var(--main_black);
  border-radius: 100px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background-color: rgba($color: #000000, $alpha: 0);
  color: var(--main_black);
  &:hover {
    background-color: var(--highlight_orange);
    box-shadow: none;
    transform: scale(0.9);
    transition: all ease-in 300ms;
  }
}

.talk {
  box-shadow: 3px 3px 1px var(--main_black);
}
