<section class="d-flex project-wrapper">
  <div class="d-flex column">
    <h3 class="black-txt">MY CRAFT</h3>
    <h2 class="black-txt">Projects</h2>
    <p class="black-txt sub-txt">
      Every project is built with responsivnes, usability & attention <br />
      to detail in mind. Feel free to explore my work.
    </p>
  </div>
  <div class="d-flex column">
    <div>
      <img class="sticker" src="/assets/img/project-sticker.png" alt="" />
      <img class="laptop" src="/assets/img/laptop.png" alt="" />
    </div>
    <h3 class="black-txt">Join</h3>
    <p class="black-txt sub-txt">
      a task manager inspired by the Kanban System. Create and <br />
      organize tasks using drag and drop functions, assign users and <br />
      categories.
    </p>
  </div>
</section>
