<section class="wrapper d-flex" id="projects">
  <div class="positioning">
    <p class="black-txt sub-header">{{ translationService.translate('projects.eyebrow') }}</p>
    <h2 class="black-txt">{{ translationService.translate('projects.title') }}</h2>
    <img class="headline" src="assets/img/project-sub.png" alt="drawn line" />
    <p class="black-txt sub-txt">{{ translationService.translate('projects.description') }}</p>
  </div>
  <div class="positioning d-flex">
    <div class="d-flex" (click)="openProject(projects[0])">
      <div class="featured-project">
        <img class="laptop" src="assets/img/laptop.png" alt="Laptop with project" />
        <img class="sticker" src="assets/img/project-sticker.png" alt="sticker picture" />
        <button id="projectBtn" class="dark-bg-btn">
          {{ translationService.translate('projects.details') }}
        </button>
      </div>
    </div>
    <h3 class="black-txt">{{ translationService.translate('projects.join.title') }}</h3>
    <p class="black-txt sub-txt">{{ translationService.translate('projects.join.description') }}</p>
  </div>
  <div class="positioning d-flex">
    <div class="projects" (click)="openProject(projects[1])">
      <img class="project-image" src="assets/img/el-pollo.png" alt="project picture" />
      <button id="projectBtn" class="dark-bg-btn">Project Details</button>
    </div>
    <h3 class="black-txt">{{ translationService.translate('projects.elPollo.title') }}</h3>
    <p class="black-txt sub-txt">
      {{ translationService.translate('projects.elPollo.description') }}
    </p>
  </div>
  <div class="positioning d-flex">
    <div class="projects" (click)="openProject(projects[2])">
      <img class="project-image" src="assets/img/pokedex.png" alt="project picture" />
      <button id="projectBtn" class="dark-bg-btn">Project Details</button>
    </div>
    <h3 class="black-txt">{{ translationService.translate('projects.pokedex.title') }}</h3>
    <p class="black-txt sub-txt">
      {{ translationService.translate('projects.pokedex.description') }}
    </p>
  </div>
</section>
<dialog #projectDialog>
  <app-project-details
    [project]="selectedProject"
    (close)="closeProject()"
    (next)="nextProject()"
  ></app-project-details>
</dialog>
